# AWS Core
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=AKIAVAO4NAXJKIWFQEJP
AWS_SECRET_ACCESS_KEY=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

# Bedrock
BEDROCK_MODEL_ID=anthropic.claude-sonnet-4-6
BEDROCK_KB_ID=W6HO3UDBMY

# S3
S3_BUCKET_MEDIA=farm-advisor-media
S3_BUCKET_KB=farm-advisor-kb-docs

# SNS
SNS_REGION=ap-south-1

# Auth
JWT_SECRET=change-this-to-a-long-random-secret

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
